<div class="form-control btn btn-default" ng-click="execute($index)">
  <span class="glyphicon glyphicon-play"></span>
</div>
<hr/>
<ul ng-if="exeLog" class="list-group" style="margin-top:15px;">
	<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading row">
    		<div class="col-sm-3">運算時間(毫秒)：</div>
    		<div class="col-sm-9">{{stime}}</div>
    	</h4>
	</a>
	<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading row">
    		<div class="col-sm-3">總旅程時間：</div>
    		<div class="col-sm-9">{{jtime}}</div>
    	</h4>
	</a>
	<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading row">
    		<div class="col-sm-3">總等待時間：</div>
    		<div class="col-sm-9">{{ttime}}</div>
    	</h4>
	</a>
	<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading row">
    		<div class="col-sm-8">目標函數 = 總旅程時間 + 總等待時間</div>
    		<div class="col-md-offset-3 col-sm-9"> = {{jtime}} + {{ttime}} = {{jtime+ttime}}</div>
    	</h4>
	</a>
</ul>
<table ng-repeat="path in exeLog" class="table">
	<thead>
		<tr><th colspan="4" class="text-center">車輛 {{$index+1}} 路徑</th></tr>
	</thead>
	<thead>
		<tr>
			<th>站點名稱</th>
			<th>需求時間</th>
			<th>到達時間</th>
			<th>離開時間</th>
			<th>旅途時間</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="point in path">
			<td>{{point.rp.name}}</td>
			<td>{{point.rp.t}}</td>
			<td>{{point.at}}</td>
			<td>{{point.lt}}</td>
			<td>{{point.jt}}</td>
		</tr>
		<tr>
			<th>此路線長度</th>
			<th>{{path.tpath}}</th>
			<th>此路線等待時間</th>
			<th>{{path.ttime}}</th>
			<th></th>
		</tr>
	</tbody>
</table>
