<div>
  <label class="control-label">
    請選擇資料檔，載入前請確認格式：
  </label>
  <input class="form-control" style="padding:0" type="file" onchange="readFile(this)"/>
  <div class="well">
    <a href="file/example2.txt">測試檔</a>
    <hr/>
    請確認資料檔格式，資料檔格式如下：<br/>
    第一行 : <br/>
      &nbsp;&nbsp;發車座標x(單位長度),<br/>
      &nbsp;&nbsp;發車座標y(單位長度)<hr/>
    第二行以後 : <br/>
      &nbsp;&nbsp;車輛數(輛),<br/>
      &nbsp;&nbsp;車容量(人數),<br/>
      &nbsp;&nbsp;服務時間(單位時間),<br/>
      &nbsp;&nbsp;駕駛工作時間限制(單位時間),<br/>
      &nbsp;&nbsp;車輛速度(單位長度/單位時間)<hr/>
    第三行以後 : <br/>
      &nbsp;&nbsp;可接受誤差時間(單位時間),<br/>
      &nbsp;&nbsp;乘坐時間限制(單位時間)<hr/>
    第四行以後 : <br/>
      &nbsp;&nbsp;乘客搭車座標x(單位長度), <br/>
      &nbsp;&nbsp;乘客搭車座標y(單位長度), <br/>
      &nbsp;&nbsp;乘客下車座標x(單位長度), <br/>
      &nbsp;&nbsp;乘客下車座標y(單位長度), <br/>
      &nbsp;&nbsp;搭車時間(單位時間), <br/>
      &nbsp;&nbsp;下車時間(單位時間)
  </div>
</div>